@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #CAE9FF;
}
#form_alunoMBean{
    display:flex;
    flex-direction: column;

}

.description{
    font-family: "Roboto",serif;
    font-size: 50px;
    margin-right: 10px;
    color: #1B4965;
}
.field{
    display: flex;
    align-items: center;
    gap: 10px;
}

.div-fora{
	display: flex;
    justify-content: center;
    align-items: center;
}

.fieldset{
    margin-top: 10px;
    width: 95%;
    float: left;
    margin-bottom: 30px;
}

.container{
    margin: 10px;
    padding: 10px;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}
.fieldupdate{
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerupdate{
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
}
.botao{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.block {
    width: 100%;
    height: 30px;
}
