@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&family=Roboto+Condensed:wght@300&family=Roboto:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #CAE9FF;
}


.description{
    font-family: "Roboto",serif;
    font-size: 50px;
    margin-right: 10px;
    color: #1B4965;
}
.flex-box {
    width: 260px;
    height: 40px;
}

.block {
    width: 300px;
    height: 30px;
}

.fieldupdate{
    display: flex;
    align-items: center;
    gap: 10px;
}
.containerupdate{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.field{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container{
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 8px;
    width: 80%;
}
.block {
    width: 300px;
    height: 30px;
}
